@{
    ViewData["Title"] = "About";
}

<h2>Hello, I am Andrew!</h2>

<p class="col-sm-4">
    Тема. Створення Asp.NET MVC  додатку (Entity Framework)

    Лабораторна робота (сайт) повинна містити:

    БД з таблицею - сховище для даних моделі (мінімум 5 записів), створену засобами SQL Server Management Studio.
    Модель даних
    Головний контроллер (HomeController).
    Сторінку-список переліку даних відповідних до завдання лабораторної (Index представлення).
    Сторінку з привітанням, та умовою лабораторного завдання і інформацією про автора (About представлення).
    Розробити функціонал деяких маніпуляцій з даними та детального перегляду даних моделі (Details представлення).
    Використати технологію Entity Framework для роботи з базою даних.
</p>
<p>
    Таблиця користувачів. Поля: ID, прізвище, ім’я, дата народження, дата реєстрації.
</p>
